.Home-wrapper {
    height: 100vh;
    -webkit-perspective: 100px; /* Safari 4-8  */
    perspective: 100px;
    background-color: #030305;
}
.Home {
    align-items: center;
    background-color: #030305;
    display: flex;
    flex-direction: column;
    font-family: 'Star Jedi';
    font-size: 35px;
    height: 100vh;
    justify-content: center;
    width: 100%;
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
    -webkit-transform: rotateX(30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(30deg);
}
.Home-link {
    align-content: center;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Home-link:first-child {
    margin-top: -75px;
}
.Home-link a {
    color: #f3c20b;
    display: inline-block;
    line-height: 80px;
    height: 80px;
    text-decoration: none;
    width: 300px;
}
.Home-link .Link-left,
.Home-link .Link-right {
    color: transparent;
    font-family: 'Star Jedi Icons';
    height: 80px;
    width: 80px;
}
.Home-link:hover .Link-left,
.Home-link:hover .Link-right {
    color: #f3c20b;
}
@media (min-width:768px) {
    .Home-link:first-child {
        margin-top: 0;
    }
}